@import './reset.scss';
@import './mixin.scss';

html,body{
  height: 100%;
}

.error-msg{
  color: #f51;
  margin-left: 15px;
  padding-top: 10px;
}

.go-info{
  color: #108ee9;
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
}

.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
  position: relative;
  z-index: 9;
	margin:45px 5px;
}
