@import './reset.scss';
@import './mixin.scss';

.error-msg{
  color: #f51;
  margin-left: 15px;
  padding-top: 10px;
}

.go-info{
  color: #108ee9;
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
}